<a name="linktotop"></a>

    <!--cover page wrapper-->
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="inner cover">
            <h1 class="cover-heading">Welcome to VJZ Designs</h1>
            <p class="lead">Currently available for freelance or direct hire opportunities. Specializing in RubyOnRails, HTML, CSS, JS.</p>
            <p class="lead">
              <div id="nav">
                <a class="special btn btn-lg btn-default" href="#pagebody">Projects</a>
                <a class="special btn btn-lg btn-default" href="#contact">Contact</a>

              </div>
            </p>
          </div>
        </div>

      </div>
    </div> <!--wrapper -->

    <!--home page-->
    <a name="pagebody"></a>

<!-- featurette -->
<div class="container">
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block img-rounded" src="http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-112864.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block img-rounded" src="http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-78205.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image-3 img-responsive center-block img-rounded" src="http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-70155.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->

      <!--contact form-->
      <a name="contact"></a>
        <form class="form-contact">
          <h1 class="form-contact-heading">Contact Me</h1>
          <h4> example@none.com </h4>
          <label for="inputEmail" class="sr-only">Email address</label>
          <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required>
          <label for="inputComment" class="sr-only">Comment</label>
          <textarea class="form-control" rows="3" placeholder="Message"></textarea>
          <button class="btn btn-lg btn-primary" type="submit">Submit</button>
        </form>
     </br>

      <!-- back to top -->
      <div id="navtop">
          <div class= "arrow"> 
            <a href="#linktotop">Back To Top</a>
          </div>
      </div>